@font-face {
  font-family: "brayline";
  src: url("../fonts/brayline-webfont.woff2") format("woff2"),
    url("../fonts/brayline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
